body {
  margin: 0;
  font-style: Helvetica;
  background: url(lux.jpg);
  background-repeat: repeat-y;
  padding: 0;
  background-size: cover;
  background-position: center;
  height: 100vh;
}

#Accessories {
  display: none;
}
.navbar {
  background: #b8860b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 20px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
}

.logo {
  font-size: 30pt;
  font-weight: bold;
  text-decoration: none;
  color: #ffffff;
}

.navbar .navbar-nav a {
  color: #ffffff;
  display: flexbox;
  font-size: 1.1rem;
  margin: 0 1rem;
  text-decoration: none;
}
.container {
  display: flex;
  align-items: flex;
  justify-content: center;
  padding: 50px;
  height: 250px;
  right: 50px;
  flex-wrap: wrap;
  gap: 16px;
  flex-direction: row;
}

.text-content {
  width: 30%;
  text-align: center;
  padding: 20px;
  color: #000000;
  background-color: #e2a807;
  border-radius: 40px;
  position: relative;
  top: 5rem;
  left: 30rem;
  right: 25rem;
}

.text-content h1 {
  font-size: 20px;
  margin-bottom: 10px;
}

.text-content p {
  font-size: 16px;
  line-height: 1.5;
}
.navbar-extra a {
  color: #ffffff;
  margin: 0 0.5rem;
}

@media (max-width: 1366px) {
  html {
    font-size: 100%;
  }
}

/* 18 tablet */
@media (max-width: 756px) {
  html {
    font-size: 62.5%;
  }

  #Accessories {
    display: inline-block;
  }
  #Accessories {
    display: inline-block;
  }
  .navbar-nav {
    position: absolute;
    top: 100%;
    right: -100%;
    background-color: rgba(184, 135, 11, 0.5);
    border-radius: 1rem; /*kotak oval*/
    padding: 0; /*letak menu*/
    width: 11rem;
    height: 100vh;
    transition: 0.5s;
  }
  /*22 untuk mengaktifkan menu pakai java script next index */
  .navbar-nav.active {
    right: 0;
  }

  /* 25 warna animasi menu kanan setelah di klik*/
  .navbar-nav a {
    color: #ffffff;
    display: block; /*supaya menu turun kebawah*/
    margin: 1.1rem;
    padding: 0.3rem;
    font-size: 2rem;
  }
}

@media (max-width: 200px) {
  html {
    font-size: 45%;
  }
}

.card {
  width: 180px;
  border: 15px solid #f5af00;
  border-radius: 8px;
  overflow: hidden;
  text-align: center;
  box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  background: #ffffff;
}

.card img {
  width: 100%;
  height: 150px;
  object-fit: cover;
  border-radius: 5px;
}

.card h3 {
  font-size: 18px;
}

.price {
  font-size: 16px;
  color: #000000;
  font-weight: bold;
}
